<div class="col-md-10 col-sm-10 col-xs-12 mt-4 mx-auto">
  <form (ngSubmit)="onSubmit()" [formGroup]="categoryForm" [ngClass]="{ 'was-validated': categoryForm.valid }">
    <div class="card">
      <div class="card-header">
        <h3>Create new category</h3>
      </div>
      <div class="card-bod p-5">
        <label>
          <input name="newCategoryName" placeholder="Name of new category" type="text">
        </label>
        <button class="btn btn-primary" type="button">CREATE</button>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h3>Category list</h3>
      </div>
      <div class="card-bod p-5">
        <div>
          <table>
            <thead>
            <tr>
              <th>Category name</th>
              <th>Created on</th>
              <th>No. of questions</th>
              <th>Easy</th>
              <th>Medium</th>
              <th>Hard</th>
            </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>

      </div>
    </div>
  </form>
</div>
